<div class="p-d-flex p-flex-column p-flex-lg-row content-wrapper">
	<div class="p-sm-12 p-lg-9 p-xl-10">
		<p-tabView>
			<p-tabPanel header="Public Server #1">
				<div class="p-grid">
					<div class="card p-col-12 p-shadow-2">
            <dashboard-info></dashboard-info>
          </div>
<!--					<div class="card p-col-12 p-shadow-2">
            <dashboard-player></dashboard-player>
          </div>-->
<!--					<div class="card p-col-12 p-shadow-2">
            <dashboard-ticket></dashboard-ticket>
          </div>-->
				</div>
			</p-tabPanel>
		</p-tabView>
	</div>
	<div class="p-sm-12 p-lg-3 p-xl-2">
    <dashboard-events></dashboard-events>
  </div>
</div>
