<div class="p-d-flex p-flex-column server-card">
  <header class="server-card-header p-d-flex">
    <h1>{{server.type}}</h1>
    <img class="server-card-header-image p-ml-auto" [src]="server.img">
  </header>
  <main class="server-card-main">
    <h3>{{server.title}}</h3>
    <h5>{{server.ip}}</h5>
  </main>
  <footer class="server-card-footer">
    <div class="p-d-flex p-ac-center p-jc-center">
      <a pButton type="button" label="Connect" class="p-button" [href]="server.connect | safeUrl"></a>
    </div>
  </footer>
</div>
