<div class="content-wrapper">
  <tf47-table
    [defaultHeaders]="defaultHeaders"
    [dataLoading]="loading"
    [data]="data"
    [headers]="headers"
    [paginator]="true"
    [rows]="20"
    [lazy]="false"
    [showCurrentPageReport]="true"
    [autoLayout]="false"
    [sortMode]="'single'"
    [sortField]="'timeCreated'"
    [sortOrder]="-1"
    [stateKey]="'player_profile_notes'"
    [headerActions]="headerAction"
    [fieldSettings]="fieldSettings"
    [selectionMode]="'single'"
    [dataKey]="'noteId'"
    (onManualReload)="loadNotes()"
    (onHeaderButtonClicked)="headerButtonClicked($event)"
  >
  </tf47-table>
</div>


<app-modal #addModal [styleClass]="['modal-sm']">
	<div header>Add Note</div>
	<div content>
    <div>
      <form [formGroup]="addFormGroup">
        <dynamic-primeng-form *ngIf="ready" [group]="addFormGroup" [model]="addFormModel" ></dynamic-primeng-form>
      </form>
    </div>
	</div>
	<div footer>
		<p-button
			type="submit"
			label="Submit"
			class="p-ml-auto"
      [disabled]="addFormGroup.invalid || addFormGroup.pristine || requestInProgress"
			(onClick)="addNote()"
		></p-button>
	</div>
</app-modal>

<app-modal #editModal [styleClass]="['modal-sm']">
  <div header>Edit Note</div>
  <div content>
    <div>
      <form [formGroup]="editFormGroup">
        <dynamic-primeng-form *ngIf="ready" [group]="editFormGroup" [model]="editFormModel" ></dynamic-primeng-form>
      </form>
    </div>
  </div>
  <div footer>
    <p-button
      type="submit"
      label="Submit"
      class="p-ml-auto"
      [disabled]="editFormGroup.invalid || editFormGroup.pristine || requestInProgress"
      (onClick)="editNote()"
    ></p-button>
  </div>
</app-modal>
