<tf47-table
	[defaultHeaders]="defaultHeaders"
	[dataLoading]="loading"
	[data]="data"
	[headers]="headers"
	[paginator]="true"
	[rows]="20"
	[lazy]="false"
	[showCurrentPageReport]="true"
	[autoLayout]="false"
	[sortMode]="'single'"
	[sortField]="'timeCreated'"
	[sortOrder]="-1"
	[stateKey]="'player_profile_notes'"
	[headerActions]="headerAction"
	[fieldSettings]="fieldSettings"
  [selectionMode]="'single'"
  [dataKey]="'noteId'"
	(onManualReload)="loadNotes()"
	(onHeaderButtonClicked)="headerButtonClicked($event)"
>
</tf47-table>

<app-modal #addModal [styleClass]="['modal-sm']">
	<div header>Add Note</div>
	<div content>
    <div>
      <form [formGroup]="myFormGroup">
        <dynamic-primeng-form *ngIf="!loading" [group]="myFormGroup" [model]="myFormModel" ></dynamic-primeng-form>
      </form>
    </div>
	</div>
	<div footer>
		<p-button
			type="submit"
			label="Submit"
			class="p-ml-auto"
      [disabled]="myFormGroup.invalid || myFormGroup.pristine"
			(click)="addNote()"
		></p-button>
	</div>
</app-modal>

<app-modal #editModal [styleClass]="['modal-sm']">
  <div header>Edit Note</div>
  <div content>
    <div>
      <form [formGroup]="myFormGroup">
        <dynamic-primeng-form *ngIf="!loading" [group]="myFormGroup" [model]="myFormModel" ></dynamic-primeng-form>
      </form>
    </div>
  </div>
  <div footer>
    <p-button
      type="submit"
      label="Submit"
      class="p-ml-auto"
      [disabled]="myFormGroup.invalid || myFormGroup.pristine"
      (click)="editNote()"
    ></p-button>
  </div>
</app-modal>
