<div class="layout-wrapper">
	<div class="header-container">
		<div class="p-d-flex">
			<div class="header-text" routerLink="/">
				<span>Task Force 47</span>
				<span class="header-gadget">Gadget</span>
			</div>
			<app-breadcrumbs class="header-breadcrumbs p-d-none p-d-sm-block"></app-breadcrumbs>
			<div class="p-d-none p-d-lg-block p-mr-3" style="position: absolute; top: 0; right: 0">
				<a
					pButton
					type="button"
					icon="mdi mdi-github"
					class="p-button-text text-5xl p-mr-3 p-mt-2"
					pTooltip="Github"
					tooltipPosition="bottom"
					href="https://github.com/taskforce47"
					target="_blank"
				></a>
				<websocket-panel></websocket-panel>
				<notification-panel></notification-panel>
				<a href="https://beta.taskforce47.com/api/Authentication/login/steam">
					<img
						*ngIf="!user"
						class="steam-login"
						alt="Steam login"
						src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/german/sits_small.png"
					/>
				</a>
				<p-splitButton *ngIf="user" class="profile-link" [label]="user.username" [model]="items"></p-splitButton>
			</div>
			<div class="p-d-lg-none p-ml-auto header-burger">
				<i class="mdi mdi-menu menu-burger" (click)="menuToggle($event)"></i>
			</div>
		</div>
	</div>
	<div class="nav-side" [ngClass]="{ 'expand-side-menu': toggleMenu }" #navigation>
		<div class="nav-side-sub p-d-flex p-flex-column">
			<a href="https://beta.taskforce47.com/api/Authentication/login/steam">
				<img
					*ngIf="!user"
					class="steam-login"
					src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/german/sits_small.png"
				/>
			</a>
			<gadget-navigation></gadget-navigation>
			<div class="nav-side-bottom-container p-as-center p-mb-2" [hidden]="!toggleMenu">
				<ul>
					<li>
						<button
							pButton
							icon="mdi mdi-account"
							label="Profile"
							class="p-button-text"
							routerLink="/account/profile"
						></button>
					</li>
					<li>
						<button
							pButton
							icon="mdi mdi-logout"
							label="Logout"
							class="p-button-text"
							(click)="auth.logout()"
						></button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-area" [ngClass]="{ 'content-blur': toggleMenu }">
		<p-toast class="custom-toast"></p-toast>
		<router-outlet></router-outlet>
	</div>
</div>
