<div class="layout-wrapper">
	<div class="header-container">
		<div class="p-d-flex">
			<div class="header-text" routerLink="/">
				<span>Task Force 47</span>
				<span class="header-gadget">Gadget</span>
			</div>
			<app-breadcrumbs class="p-d-md-block p-d-none"></app-breadcrumbs>
			<div class="p-ml-auto p-d-none p-d-lg-block">
				<!--<i class="mdi mdi-bell"></i>-->
				<a routerLink="/account/profile">{{ user?.profileName }}</a>
			</div>
			<div class="p-d-lg-none p-ml-auto">
				<i class="mdi mdi-menu menu-burger" (click)="menuToggle($event)"></i>
			</div>
		</div>
	</div>
	<div class="nav-side" [ngClass]="{ 'expand-side-menu': toggleMenu }" #navigation>
		<div class="nav-side-sub p-d-flex p-flex-column">
			<gadget-navigation></gadget-navigation>
			<div class="nav-side-bottom-container p-d-flex p-flex-column p-mt-auto">
				<!--<button pButton type="button" label="Homepage" icon="mdi mdi-home" class="nav-side-bottom-button p-button-text"></button>-->
				<button
					pButton
					type="button"
					label="Github"
					icon="mdi mdi-github"
					class="nav-side-bottom-button p-button-text"
					(click)="openPage('https://github.com/taskforce47')"
				></button>
				<button
					pButton
					type="button"
					label="Forum"
					icon="mdi mdi-forum"
					class="nav-side-bottom-button p-button-text"
					(click)="openPage('https://forum.taskforce47.com')"
				></button>
			</div>
		</div>
	</div>
	<div class="content-area" [ngClass]="{ 'content-blur': toggleMenu }">
		<router-outlet></router-outlet>
	</div>
</div>
