<div class="content-wrapper account-profile">
  <div class="account-profile-header p-d-flex" *ngIf="userDetails">
    <div class="account-profile-image">
      <img [src]="'https://forum.taskforce47.com' + userDetails.avatar">
    </div>
    <div  class="account-profile-text p-d-flex p-flex-column">
      <h1>{{userDetails.profileName}}</h1>
      <span>{{userDetails.playerUid}}</span>
      <div class="p-d-flex player-profile-header-roles" *ngIf="userDetails.roles && userDetails.roles.length > 0">
				<span
          class="p-tag p-tag-rounded role"
          style="margin-left: 0.25rem"
          *ngFor="let role of userDetails.roles"
        >{{ role }}</span
        >
      </div>
    </div>
  </div>

  <app-subnavi [subnaviItems]="subnaviItems"></app-subnavi>
  <router-outlet></router-outlet>
</div>

