.account-profile-header {
  max-height: 150px;
  margin-bottom: 1rem;
  h1{
    margin: 0;
  }
  img {
    height: 128px;
    width: 128px;
    margin-right: 0.75rem;
  }
}
.account-profile-text {
  color: var(--text-color-secondary);
  padding-left: .5rem;
  width: 100%;
  margin-top: 1rem;
}

.account-profile {
  padding: 1rem;
}
.role {
  color: black;
}

.p-tag {
  padding: 0.5rem 0.4rem;;
}

.player-profile-header-name{
  margin: 1rem 0 0.5rem 0;
}
.player-profile-header-roles {
  margin-top: 0.5rem;
}
