<div class="login-form-container">
	<div class="login-form">
    <div class="header-text" style="text-align: center; cursor:default; padding: 0.5rem 1rem 1rem 1rem">
      <span>Task Force 47</span>
      <span class="header-gadget">Gadget</span>
    </div>
		<div class="login-form-split">
			<div class="login-form-left">
				<div>
					<p-button
						type="submit"
						label="Submit"
						class="p-ml-auto"
						(click)="submit()"
					></p-button>
				</div>
			</div>
			<div class="login-form-right">
				<img
					src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/german/sits_large_border.png"
				/>
			</div>
		</div>
	</div>
</div>
