<div class="content-wrapper" style="height: 100%">
	<div class="p-grid" style="height: 100%">
		<div class="p-col-12 p-xl-9 map-container">
      <app-map worldName="Stratis" [gridShown]="grid" [satShown]="sat"></app-map>
		</div>
    <div class="p-col-3 p-shadow-4 side-container">
      <p-message severity="info" text="Select a marker on the map or a row from a table below the map"></p-message>
    </div>
		<div class="p-col-12 p-xl-12 p-shadow-22 bottom-container">
			<p-tabView>
				<p-tabPanel header="Players">
					<ng-template pTemplate="content">
						<app-player-list></app-player-list>
					</ng-template>
				</p-tabPanel>
        <p-tabPanel header="Vehicles">
          <ng-template pTemplate="content">
            <p-progressSpinner
              styleClass="custom-spinner"
              strokeWidth="8"
              animationDuration="2s"
            ></p-progressSpinner>
          </ng-template>
        </p-tabPanel>
				<p-tabPanel header="Tasks">
					<ng-template pTemplate="content">
						<p-progressSpinner
							styleClass="custom-spinner"
							strokeWidth="8"
							animationDuration="2s"
						></p-progressSpinner>
					</ng-template>
				</p-tabPanel>
				<p-tabPanel header="Log">
					<ng-template pTemplate="content">
						<p-progressSpinner
							styleClass="custom-spinner"
							strokeWidth="8"
							animationDuration="2s"
						></p-progressSpinner>
					</ng-template>
				</p-tabPanel>
        <p-tabPanel header="Settings">
          <ng-template pTemplate="content">
            <form [formGroup]="myFormGroup">
              <dynamic-primeng-form [group]="myFormGroup" [model]="myFormModel" (change)="update($event)"></dynamic-primeng-form>
            </form>
          </ng-template>
        </p-tabPanel>
			</p-tabView>
		</div>
	</div>
</div>
