.squad-profile-header {
  min-height: 150px;
  margin-bottom: 1rem;

  h1 {
    margin: 0;
  }

  img {
    height: 128px;
    width: 128px;
    margin-right: 0.75rem;
  }
}
.squad-profile-text {
  color: var(--text-color-secondary);
  padding-left: .5rem;
  width: 100%;
}


.upload-image {
  width: 12rem;
  height: 6rem;
  color: rgb(255,255,255);
  border: 2px dashed currentColor;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  &--active, &:hover {
    color: rgb(255,255,255);
  }
}
