<div class="login">
  <div class="login-left">
    <div class="login-text">
      <div class="gadget-title">
        <span>Task Force 47</span>
        <span class="gadget-title-gadget">Gadget</span>
      </div>
      <div>
        <h3>Task Force 47 <br /> Statistics and Administration Tool</h3>
      </div>
      <div class="steam-login-img">
        <img src="">
        <a href="https://moin.taskforce47.com:5001/api/Authentication/login/steam">
					<img
						class="steam-login"
						alt="Steam login"
						src="https://community.cloudflare.steamstatic.com/public/images/signinthroughsteam/sits_02.png"
					/>
				</a>
      </div>
      <div class="login-links">
        <a href="https://taskforce47.com/impressum/" rel="noopener">Impressum</a>
        &nbsp;
        <a href="https://taskforce47.com/datenschutz/" rel="noopener">Datenschutz</a>
      </div>
    </div>
  </div>
  <div class="login-right">
      <div>
        <img src="../../../../assets/images/tanks_firing_back_wallpaper_1920.jpg" height="100%" width="100%">
      </div>
  </div>
</div>
