<p-progressSpinner *ngIf="loading" styleClass="custom-spinner" strokeWidth="8" animationDuration="2s" xmlns=""></p-progressSpinner>
<div class="p-ml-3 p-mt-3">
  <form [formGroup]="myFormGroup">
    <dynamic-primeng-form *ngIf="!loading" [group]="myFormGroup" [model]="formModel"></dynamic-primeng-form>
  </form>
</div>
<div class="p-d-flex p-mr-3 p-mb-3">
  <p-button
    type="submit"
    label="Submit"
    class="p-ml-auto"
    [disabled]="myFormGroup.invalid || myFormGroup.pristine"
    (onClick)="submit()"
  ></p-button>
</div>
