<div class="content-wrapper">
  <tf47-table
    [defaultHeaders]="defaultHeaders"
    [dataLoading]="loading"
    [data]="data"
    [headers]="headers"
    [paginator]="true"
    [rows]="20"
    [showCurrentPageReport]="true"
    [autoLayout]="true"
    [headerActions]="headerAction"
    [selectionMode]="'single'"
    [dataKey]="'squadId'"
    (onManualReload)="loadSquads()"
    (onHeaderButtonClicked)="headerButtonClicked($event)"
  >
  </tf47-table>
</div>


<app-modal #addModal [styleClass]="['modal-md']">
	<div header>Add Squad</div>
	<div content>
		<div>
      <form [formGroup]="myFormGroup">
        <dynamic-primeng-form *ngIf="ready" [group]="myFormGroup" [model]="formModel"></dynamic-primeng-form>
      </form>
		</div>
	</div>
	<div footer>
		<p-button
			type="submit"
			label="Submit"
			class="p-ml-auto"
			(click)="submit()"
		></p-button>
	</div>
</app-modal>
