<div class="p-d-flex p-flex-column p-flex-lg-row p-ai-start" style="height: 100%">
  <div class="p-mr-2 virtual-scroll-container" style="height: 100%;" [style]="{width: searchWidth}">
    <div #searchContainer style="height: 100%">
      <div class="user-search">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input type="text" pInputText placeholder="Search" [(ngModel)]="searchValue" (keyup)="filterUsers()" />
				</span>
      </div>
      <p-progressSpinner *ngIf="users.length == 0" styleClass="custom-spinner" strokeWidth="8" animationDuration="2s"></p-progressSpinner>
      <p-virtualScroller
        [value]="usersFiltered"
        [scrollHeight]="searchHeight+'px'"
        [itemSize]="35"
        [rows]="users.length"
      >
        <ng-template pTemplate="item" let-users>
          <div class="user-box" [routerLink]="users.userId" routerLinkActive="user-box-active"><div class="user-box-text">{{ users.username }}</div></div></ng-template
        >
        <ng-template pTemplate="loadingItem"> Loading... </ng-template>
      </p-virtualScroller>
    </div>
  </div>
  <div style="height: 100%; width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
