<div class="p-d-flex p-ai-start content-wrapper">
  <div class="p-mr-2" style="height: 100%; width: 250px">
    <div>
      <div class="user-search">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input type="text" pInputText placeholder="Search" [(ngModel)]="searchValue" (keyup)="filterUsers()" />
				</span>
      </div>
      <p-progressSpinner *ngIf="users.length == 0" styleClass="custom-spinner" strokeWidth="8" animationDuration="2s"></p-progressSpinner>
      <p-virtualScroller
        [value]="usersFiltered"
        [scrollHeight]="'calc(100vh - 7.5rem)'"
        [itemSize]="50"
        [rows]="users.length"
      >
        <ng-template pTemplate="item" let-users>
          <div class="user-box" [routerLink]="users.userId" routerLinkActive="user-box-active">{{ users.username }}</div></ng-template
        >
        <ng-template pTemplate="loadingItem"> Loading... </ng-template>
      </p-virtualScroller>
    </div>
  </div>
  <div style="height: 100%; width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
