<div class="p-grid server-grid">
	<div class="p-col-12 p-lg-2 p-d-flex content-wrapper">
		<div class="server-selection">
			<p>Select Server Type</p>
			<ul>
				<li
					(click)="selectServerType('voice')"
					[ngClass]="{ 'server-selection-selected': selectedType === 'voice' }"
				>
					Voiceserver
				</li>
				<li
					(click)="selectServerType('game')"
					[ngClass]="{ 'server-selection-selected': selectedType === 'game' }"
				>
					Gameserver
				</li>
			</ul>
		</div>
	</div>
	<div class="p-col-12 p-lg-10 server-wrapper p-mt-4 p-lg-mt-0">
		<server-card *ngFor="let server of shown" [server]="server"></server-card>
	</div>
</div>
