.iframe-container {
  overflow: hidden;
  padding-top: 52%;
  position: relative;
}

.iframe-container iframe {
  z-index: 1000;
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
