@import 'node_modules/@mdi/font/scss/materialdesignicons.scss';
body {
	background-color: var(--surface-b);
	color: var(--text-color);
	font-family: Roboto, sans-serif !important;
	max-width: 100%;
	margin: 0 !important;
	height: 100%;
	overflow: hidden;
  @font-face {
    font-display: swap;
  }
}
* {
	padding: 0;
	outline: none;
}
:root {
	--primary-color: #ff4600;
}
::ng-deep .ui-button:focus,
::ng-deep .ui-button:enabled:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

a:-webkit-any-link {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

.p-menuitem-text {
	cursor: pointer;
}
ul{
  list-style: none;
}
.p-breadcrumb {
	font-size: 0.75rem !important;
	padding: 0.25rem !important;
	margin-left: 2rem !important;
	border: none !important;
	background: transparent !important;
}

.header-container {
	background: var(--surface-a);
	line-height: 1.5;
	border-bottom: 1px solid black;
	width: 100%;
	max-width: 100%;
	height: 3.25rem;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.header-gadget {
	color: var(--primary-color);
}

.header-text {
	margin: 1rem 0 0 1rem;
	font-size: 1.25rem;
	font-weight: bolder;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
.header-breadcrumbs {
	width: calc(100vw - 215px);
	margin: 0.3rem 0 0 2rem;
	ul {
		width: 100%;
		flex-wrap: nowrap;
	}
	li {
		cursor: pointer;
		float: left;
		max-width: 15%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: small;
		&::before {
			font-family: 'Material Design Icons', serif;
			content: '\F0142';
		}
		&:first-child::before {
			content: '';
		}
	}
}
.header-burger {
	margin: 1.25rem 1rem 0 0;
}
.content-area {
	margin-left: 0;
	padding: 0.5rem 0.5rem 0;
	margin-top: 3.1rem;
	position: relative;
	height: 100%;
	overflow-y: auto;
}

.nav-side {
	transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
	transform: translateX(-100%);
	margin-top: 3.25rem;
	background: var(--surface-a);
	width: 16rem;
	height: calc(100% - 3.25rem);
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 1100;
	.steam-login {
		display: none;
	}
}
.nav-side-sub {
	height: 100%;
	padding: 0 0.5rem 0.5rem 0.5rem;
	position: relative;
	ul {
		list-style: none;
	}
}

.layout-wrapper {
	height: 95vh;
}

.nav-toggle {
	&:hover {
		background: var(--surface-d);
	}
	margin-left: 1rem;
	border: none;
	color: white;
	height: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 50%;
	i {
		margin: 20%;
	}
}

.nav-item-sub {
	height: 33px;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	i {
		font-size: 1.5rem;
		margin-right: 0.25rem;
	}
}
.nav-item-header {
	margin-top: 1em;
	font-size: 0.857rem;
	font-weight: 700;
	padding: 0.5rem 0 1rem 0;
	color: rgba(255, 255, 255, 0.4);
}
.nav-item-sub:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.nav-item-sub-active {
	background-color: rgba(255, 255, 255, 0.2);
}
.nav-item-sub {
	transition: background-color 0.2s, box-shadow 0.2s;
	padding: 0.5rem;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.7);
	position: relative;
}

.nav-item-container > li:not(:first-child) {
	border-top: 1px solid var(--surface-d);
}
.nav-item-container ul {
	display: block;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 10px;
	padding-inline-end: 10px;
}

.nav-item-container ul ul {
	margin-block-start: 0;
	margin-block-end: 0;
}

.nav-item-container {
	overflow-y: auto;
	max-height: calc(100vh - 120px);

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--surface-d);
		border-radius: 20px;
		border: 3px solid var(--surface-d);
	}
}

.fc-header-toolbar{
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 992px) {
	.nav-side {
		transform: translateX(0%);
	}
	.content-area {
		margin-left: 16rem;
	}
  .fc-header-toolbar{
    flex-direction: row;
  }
}
.expand-side-menu {
	transform: translate(0%);
	.content-area {
		filter: blur(4px);
	}
	.steam-login {
		display: block;
	}
}
.menu-burger {
	font-size: 2rem;
	position: relative;
	top: -0.75rem;
	cursor: pointer;
}

.nav-side-bottom-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	li {
		float: left;
	}
	li:not(:first-child) {
		margin-left: 0.25rem;
	}

	li button {
		display: block;
		text-align: center;
		text-decoration: none;
	}
}

.overlaypanel .p-overlaypanel-content ul {
	list-style: none;
	padding: 1rem;
	margin: 0;
	max-height: 50vh;
	overflow: auto;
}

.overlaypanel .p-overlaypanel-content {
	padding: 0;
}

.overlaypanel .p-overlaypanel-content label:not(.checkbox-label):not(.radio-label) {
	padding: 0.25rem 1rem 0.5rem 0;
	max-width: 26rem;
	display: flex;
	flex-flow: row;
	white-space: normal;
	position: relative;
	min-height: 2rem;
	line-height: inherit;
}

.table-header {
	margin-top: 1.5rem;
	min-height: 2rem;
	border: 1px solid var(--surface-d);
}

.p-overlaypanel {
	&:before {
		bottom: none;
		left: unset;
		position: unset;
		content: unset;
	}
	&:after {
		border-bottom-color: transparent;
		border-top-color: transparent;
	}
}

.content-wrapper {
	background: var(--surface-a);
	min-height: fit-content;
	padding: 0.5rem;
	overflow-y: unset;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

.ui-widget {
	margin-bottom: 0.3rem;
}
.modal {
	.p-dialog {
		width: 100vw;
	}
}
.modal-sm {
	.p-dialog {
		width: 100vw;
	}
}
.modal-lg {
	.p-dialog {
		width: 100vw;
	}
}
.modal-xl {
	.p-dialog {
		width: 100vw;
	}
}
@media (min-width: 768px) {
	.modal {
		.p-dialog {
			width: 55vw;
		}
	}
	.modal-sm {
		.p-dialog {
			width: 65vw;
		}
	}
	.modal-lg {
		.p-dialog {
			width: 75vw;
		}
	}
	.modal-xl {
		.p-dialog {
			width: 85vw;
		}
	}
  .nav-item-container {
    max-height: calc(100vh - 80px);
  }
}
@media (min-width: 992px) {
	.modal {
		.p-dialog {
			width: 45vw;
		}
	}
	.modal-sm {
		.p-dialog {
			width: 35vw;
		}
	}
	.modal-lg {
		.p-dialog {
			width: 55vw;
		}
	}
	.modal-xl {
		.p-dialog {
			width: 80vw;
		}
	}
}

.field_info {
	color: rgba(255, 255, 255, 0.9);
}
.field_warning {
	color: rgba(255, 242, 0, 0.8);
}
.field_critical {
	color: rgba(255, 0, 0, 1);
}
.field_success {
	color: rgb(4, 176, 4);
}
.field_side {
	color: #38bbf7;
}

.p-datatable[style] {
	word-wrap: normal !important;
}
p-virtualScroller {
	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #a09f9f;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--surface-700);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
.content-blur {
	filter: blur(4px);
	position: absolute;
	width: 100%;
	height: 100%;
}

.form-test:first-child {
	margin-bottom: 1.5rem;
}

a {
	text-decoration: none;
}

.steam-login {
	cursor: pointer;
	padding: 0.5rem 0;
}

.profile-link {
	.p-splitbutton {
		transform: translate(0, -5px);
	}
}
.mapboxgl-ctrl-attrib {
	display: none !important;
}
.ng-dynamic-forms-checkbox,
.ng-dynamic-forms-input,
.ng-dynamic-forms-select,
.ng-dynamic-forms-datepicker,
.ng-dynamic-forms-textarea,
.ng-dynamic-forms-colorpicker {
	margin-bottom: .75rem;
  &:first-child {
    margin-bottom: .5rem;
  }
}
.p-inputtextarea {
	width: 100%;
	max-width: 100%;
}
.p-inputtext {
	width: 100%;
	max-width: 100%;
	padding: 0.5em;
}
.p-dropdown {
	width: 100%;
}
.p-multiselect {
	width: 100%;
}
.p-dropdown-panel {
	position: absolute;
}

.p-datepicker {
	position: inherit;
}

.field_info {
	color: white;
}
.field_warning {
	color: orangered;
}
.field_critical {
	color: red;
}
.field_success {
	color: lawngreen;
}

.p-calendar {
	width: 100%;
}

.custom-toast .p-toast {
	top: 5%;
}

form {
	width: 400px;
}

.websocket-header {
}

.panel-wrapper {
	min-width: 200px;
}
.websocket-circle {
	height: 25px;
	width: 25px;
	border-radius: 999999px;
}
.websocket-online {
	background-color: green;
}

.websocket-offline {
	background-color: red;
}
.profile-header {
	min-height: 150px;
	margin-bottom: 0.5rem;
	h1 {
		margin: 0;
	}
	img {
		height: 128px;
		width: 128px;
		margin-right: 0.75rem;
	}
}
.profile-text {
	color: var(--text-color-secondary);
	padding-left: 0.5rem;
	width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.profile-header-actions {
	margin-top: 1rem;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	.p-button {
		width: 100%;
		margin-top: 0.5rem;
	}
	@media screen and (min-width: 769px) {
		margin-left: auto;
	}
}

.linked {
	color: #55bf3b;
}
.notlinked {
	color: red;
}

.virtual-scroll-container {
	background-color: var(--surface-a);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.p-tabmenu {
	background-color: var(--surface-a);
}

.chart-container {
	canvas {
		background-color: var(--surface-d);
	}
}

.server-card {
	width: 20rem;
	padding: 1rem;
	margin-bottom: 1rem;
	background: var(--surface-e);
	height: fit-content;

	h3,
	h5 {
		margin: 0;
	}
	h5 {
		margin-top: 0.5rem;
	}
}
@media screen and (min-width: 992px) {
	.server-card {
		width: 40em;
	}
}
@media screen and (min-width: 1280px) {
	.server-card {
		width: 50em;
		height: 125px;
	}
}
.server-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.server-card-header-image {
	height: 50px;
	width: 150px;
	opacity: 0.4;
	filter: saturate(0) invert(1);
	-webkit-user-drag: none;
}

.server-card-content {
	height: 100%;
}

.server-selection-selected {
	background-color: rgba(255, 255, 255, 0.4) !important;
  &:hover{
    background-color: var(--surface-g) !important;
  }
}

.server-selection {
	width: 100%;
	text-align: center;
	padding: 0.5rem;
  overflow-y: auto;
	li {
		&:hover {
			background-color: var(--surface-h);
		}
		padding: 0.5rem;
		cursor: pointer;
		list-style: none;
		min-height: 35px;
		height: fit-content;
		width: 100%;
		background-color: var(--surface-c);
		margin-top: 0.5rem;
	}
}
.markdown-container-wrapper{
  overflow-y: auto;
  height: 100%;
}
.markdown-container {
	a {
		color: black;
	}
}
.markdown-body {
	color: var(--text-color-secondary);
}
.markdown-body .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
}

.markdown-body .anchor {
	float: left;
	line-height: 1;
	margin-left: -20px;
	padding-right: 4px;
}

.markdown-body .anchor:focus {
	outline: none;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
	text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
	visibility: visible;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
	width: 16px;
	height: 16px;
	content: ' ';
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}
.markdown-body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: #24292e;
	background-color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
		Segoe UI Emoji;
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
}

.markdown-body details {
	display: block;
}

.markdown-body summary {
	display: list-item;
}

.markdown-body a {
	background-color: initial;
}

.markdown-body a:active,
.markdown-body a:hover {
	outline-width: 0;
}

.markdown-body strong {
	font-weight: inherit;
	font-weight: bolder;
}

.markdown-body h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

.markdown-body img {
	border-style: none;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

.markdown-body hr {
	box-sizing: initial;
	height: 0;
	overflow: visible;
}

.markdown-body input {
	font: inherit;
	margin: 0;
}

.markdown-body input {
	overflow: visible;
}

.markdown-body [type='checkbox'] {
	box-sizing: border-box;
	padding: 0;
}

.markdown-body * {
	box-sizing: border-box;
}

.markdown-body input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.markdown-body a {
	color: #0366d6;
	text-decoration: none;
}

.markdown-body a:hover {
	text-decoration: underline;
}

.markdown-body strong {
	font-weight: 600;
}

.markdown-body hr {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

.markdown-body hr:after,
.markdown-body hr:before {
	display: table;
	content: '';
}

.markdown-body hr:after {
	clear: both;
}

.markdown-body table {
	display: block;
	border-spacing: 0;
	border-collapse: collapse;
}
@media (min-width: 768px) {
	.markdown-body table {
		display: inline-table;
	}
}
.markdown-body td,
.markdown-body th {
	padding: 0;
}

.markdown-body details summary {
	cursor: pointer;
}

.markdown-body kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.markdown-body h1 {
	font-size: 32px;
}

.markdown-body h1,
.markdown-body h2 {
	font-weight: 600;
}

.markdown-body h2 {
	font-size: 24px;
}

.markdown-body h3 {
	font-size: 20px;
}

.markdown-body h3,
.markdown-body h4 {
	font-weight: 600;
}

.markdown-body h4 {
	font-size: 16px;
}

.markdown-body h5 {
	font-size: 14px;
}

.markdown-body h5,
.markdown-body h6 {
	font-weight: 600;
}

.markdown-body h6 {
	font-size: 12px;
}

.markdown-body p {
	margin-top: 0;
	margin-bottom: 10px;
}

.markdown-body blockquote {
	margin: 0;
}

.markdown-body ol,
.markdown-body ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
	list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
	list-style-type: lower-alpha;
}

.markdown-body dd {
	margin-left: 0;
}

.markdown-body code,
.markdown-body pre {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 12px;
}

.markdown-body pre {
	margin-top: 0;
	margin-bottom: 0;
}

.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
}

.markdown-body :checked + .radio-label {
	position: relative;
	z-index: 1;
	border-color: #0366d6;
}

.markdown-body .border {
	border: 1px solid #e1e4e8 !important;
}

.markdown-body .border-0 {
	border: 0 !important;
}

.markdown-body .border-bottom {
	border-bottom: 1px solid #e1e4e8 !important;
}

.markdown-body .rounded-1 {
	border-radius: 3px !important;
}

.markdown-body .bg-white {
	background-color: #fff !important;
}

.markdown-body .bg-gray-light {
	background-color: #fafbfc !important;
}

.markdown-body .text-gray-light {
	color: #6a737d !important;
}

.markdown-body .mb-0 {
	margin-bottom: 0 !important;
}

.markdown-body .my-2 {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.markdown-body .pl-0 {
	padding-left: 0 !important;
}

.markdown-body .py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.markdown-body .pl-1 {
	padding-left: 4px !important;
}

.markdown-body .pl-2 {
	padding-left: 8px !important;
}

.markdown-body .py-2 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.markdown-body .pl-3,
.markdown-body .px-3 {
	padding-left: 16px !important;
}

.markdown-body .px-3 {
	padding-right: 16px !important;
}

.markdown-body .pl-4 {
	padding-left: 24px !important;
}

.markdown-body .pl-5 {
	padding-left: 32px !important;
}

.markdown-body .pl-6 {
	padding-left: 40px !important;
}

.markdown-body .f6 {
	font-size: 12px !important;
}

.markdown-body .lh-condensed {
	line-height: 1.25 !important;
}

.markdown-body .text-bold {
	font-weight: 600 !important;
}

.markdown-body .pl-c {
	color: #6a737d;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
	color: #005cc5;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
	color: #6f42c1;
}

.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
	color: #24292e;
}

.markdown-body .pl-ent {
	color: #22863a;
}

.markdown-body .pl-k {
	color: #d73a49;
}

.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
	color: #032f62;
}

.markdown-body .pl-smw,
.markdown-body .pl-v {
	color: #e36209;
}

.markdown-body .pl-bu {
	color: #b31d28;
}

.markdown-body .pl-ii {
	color: #fafbfc;
	background-color: #b31d28;
}

.markdown-body .pl-c2 {
	color: #fafbfc;
	background-color: #d73a49;
}

.markdown-body .pl-c2:before {
	content: '^M';
}

.markdown-body .pl-sr .pl-cce {
	font-weight: 700;
	color: #22863a;
}

.markdown-body .pl-ml {
	color: #735c0f;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
	font-weight: 700;
	color: #005cc5;
}

.markdown-body .pl-mi {
	font-style: italic;
	color: #24292e;
}

.markdown-body .pl-mb {
	font-weight: 700;
	color: #24292e;
}

.markdown-body .pl-md {
	color: #b31d28;
	background-color: #ffeef0;
}

.markdown-body .pl-mi1 {
	color: #22863a;
	background-color: #f0fff4;
}

.markdown-body .pl-mc {
	color: #e36209;
	background-color: #ffebda;
}

.markdown-body .pl-mi2 {
	color: #f6f8fa;
	background-color: #005cc5;
}

.markdown-body .pl-mdr {
	font-weight: 700;
	color: #6f42c1;
}

.markdown-body .pl-ba {
	color: #586069;
}

.markdown-body .pl-sg {
	color: #959da5;
}

.markdown-body .pl-corl {
	text-decoration: underline;
	color: #032f62;
}

.markdown-body .mb-0 {
	margin-bottom: 0 !important;
}

.markdown-body .my-2 {
	margin-bottom: 8px !important;
}

.markdown-body .my-2 {
	margin-top: 8px !important;
}

.markdown-body .pl-0 {
	padding-left: 0 !important;
}

.markdown-body .py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.markdown-body .pl-1 {
	padding-left: 4px !important;
}

.markdown-body .pl-2 {
	padding-left: 8px !important;
}

.markdown-body .py-2 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.markdown-body .pl-3 {
	padding-left: 16px !important;
}

.markdown-body .pl-4 {
	padding-left: 24px !important;
}

.markdown-body .pl-5 {
	padding-left: 32px !important;
}

.markdown-body .pl-6 {
	padding-left: 40px !important;
}

.markdown-body .pl-7 {
	padding-left: 48px !important;
}

.markdown-body .pl-8 {
	padding-left: 64px !important;
}

.markdown-body .pl-9 {
	padding-left: 80px !important;
}

.markdown-body .pl-10 {
	padding-left: 96px !important;
}

.markdown-body .pl-11 {
	padding-left: 112px !important;
}

.markdown-body .pl-12 {
	padding-left: 128px !important;
}

.markdown-body hr {
	border-bottom-color: #eee;
}

.markdown-body kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body:after,
.markdown-body:before {
	display: table;
	content: '';
}

.markdown-body:after {
	clear: both;
}

.markdown-body > :first-child {
	margin-top: 0 !important;
}

.markdown-body > :last-child {
	margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
	color: inherit;
	text-decoration: none;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
	margin-top: 0;
	margin-bottom: 16px;
}

.markdown-body hr {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

.markdown-body blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}

.markdown-body blockquote > :first-child {
	margin-top: 0;
}

.markdown-body blockquote > :last-child {
	margin-bottom: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}

.markdown-body h1 {
	font-size: 2em;
}

.markdown-body h1,
.markdown-body h2 {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eaecef;
}

.markdown-body h2 {
	font-size: 1.5em;
}

.markdown-body h3 {
	font-size: 1.25em;
}

.markdown-body h4 {
	font-size: 1em;
}

.markdown-body h5 {
	font-size: 0.875em;
}

.markdown-body h6 {
	font-size: 0.85em;
	color: #6a737d;
}

.markdown-body ol,
.markdown-body ul {
	padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
	margin-top: 0;
	margin-bottom: 0;
}

.markdown-body li {
	word-wrap: break-all;
}

.markdown-body li > p {
	margin-top: 16px;
}

.markdown-body li + li {
	margin-top: 0.25em;
}

.markdown-body dl {
	padding: 0;
}

.markdown-body dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

.markdown-body dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

.markdown-body table {
	width: 100%;
	overflow: auto;
}

.markdown-body table th {
	font-weight: 600;
}

.markdown-body table td,
.markdown-body table th {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

.markdown-body table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
	background-color: #f6f8fa;
}

.markdown-body img {
	max-width: 100%;
	box-sizing: initial;
	background-color: #fff;
}

.markdown-body img[align='right'] {
	padding-left: 20px;
}

.markdown-body img[align='left'] {
	padding-right: 20px;
}

.markdown-body code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
}

.markdown-body pre {
	word-wrap: normal;
}

.markdown-body pre > code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

.markdown-body .highlight {
	margin-bottom: 16px;
}

.markdown-body .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 3px;
}

.markdown-body pre code {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: initial;
	border: 0;
}

.markdown-body .commit-tease-sha {
	display: inline-block;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 90%;
	color: #444d56;
}

.markdown-body .full-commit .btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5;
}

.markdown-body .blob-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
}

.markdown-body .blob-wrapper-embedded {
	max-height: 240px;
	overflow-y: auto;
}

.markdown-body .blob-num {
	width: 1%;
	min-width: 50px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 12px;
	line-height: 20px;
	color: rgba(27, 31, 35, 0.3);
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.markdown-body .blob-num:hover {
	color: rgba(27, 31, 35, 0.6);
}

.markdown-body .blob-num:before {
	content: attr(data-line-number);
}

.markdown-body .blob-code {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
	vertical-align: top;
}

.markdown-body .blob-code-inner {
	overflow: visible;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 12px;
	color: #24292e;
	word-wrap: normal;
	white-space: pre;
}

.markdown-body .pl-token.active,
.markdown-body .pl-token:hover {
	cursor: pointer;
	background: #ffea7f;
}

.markdown-body .tab-size[data-tab-size='1'] {
	-moz-tab-size: 1;
	tab-size: 1;
}

.markdown-body .tab-size[data-tab-size='2'] {
	-moz-tab-size: 2;
	tab-size: 2;
}

.markdown-body .tab-size[data-tab-size='3'] {
	-moz-tab-size: 3;
	tab-size: 3;
}

.markdown-body .tab-size[data-tab-size='4'] {
	-moz-tab-size: 4;
	tab-size: 4;
}

.markdown-body .tab-size[data-tab-size='5'] {
	-moz-tab-size: 5;
	tab-size: 5;
}

.markdown-body .tab-size[data-tab-size='6'] {
	-moz-tab-size: 6;
	tab-size: 6;
}

.markdown-body .tab-size[data-tab-size='7'] {
	-moz-tab-size: 7;
	tab-size: 7;
}

.markdown-body .tab-size[data-tab-size='8'] {
	-moz-tab-size: 8;
	tab-size: 8;
}

.markdown-body .tab-size[data-tab-size='9'] {
	-moz-tab-size: 9;
	tab-size: 9;
}

.markdown-body .tab-size[data-tab-size='10'] {
	-moz-tab-size: 10;
	tab-size: 10;
}

.markdown-body .tab-size[data-tab-size='11'] {
	-moz-tab-size: 11;
	tab-size: 11;
}

.markdown-body .tab-size[data-tab-size='12'] {
	-moz-tab-size: 12;
	tab-size: 12;
}

.markdown-body .task-list-item {
	list-style-type: none;
}

.markdown-body .task-list-item + .task-list-item {
	margin-top: 3px;
}

.markdown-body .task-list-item input {
	margin: 0 0.2em 0.25em -1.6em;
	vertical-align: middle;
}

.markdown-body {
	color: #c9d1d9;
	background-color: #0d1117;
}
.markdown-body a {
	color: #58a6ff;
}
.markdown-body hr {
	border-bottom: 1px solid #21262d;
	border-bottom-color: #21262d;
	background-color: #30363d;
}
.markdown-body kbd {
	color: #b1bac4;
	background-color: #0d1117;
	border: 1px solid #6e7681;
	box-shadow: inset 0 -1px 0 #6e7681;
}
.markdown-body :checked + .radio-label {
	border-color: rgba(56, 139, 253, 0.4);
}
.markdown-body .border {
	border: 1px solid #30363d !important;
}
.markdown-body .border-bottom {
	border-bottom: 1px solid #30363d !important;
}
.markdown-body .bg-white {
	background-color: #0d1117 !important;
}
.markdown-body .bg-gray-light {
	background-color: #0d1117 !important;
}
.markdown-body .text-gray-light {
	color: #8b949e !important;
}
.markdown-body .pl-c {
	color: #8b949e;
}
.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
	color: #79c0ff;
}
.markdown-body .pl-e,
.markdown-body .pl-en {
	color: #d2a8ff;
}
.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
	color: #c9d1d9;
}
.markdown-body .pl-ent {
	color: #7ee787;
}
.markdown-body .pl-k {
	color: #ff7b72;
}
.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
	color: #a5d6ff;
}
.markdown-body .pl-smw,
.markdown-body .pl-v {
	color: #ffa657;
}
.markdown-body .pl-bu {
	color: #f85149;
}
.markdown-body .pl-ii {
	color: #f0f6fc;
	background-color: #8e1519;
}
.markdown-body .pl-c2 {
	color: #f0f6fc;
	background-color: #b62324;
}
.markdown-body .pl-sr .pl-cce {
	color: #7ee787;
}
.markdown-body .pl-ml {
	color: #f2cc60;
}
.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
	color: #1f6feb;
}
.markdown-body .pl-mi {
	color: #c9d1d9;
}
.markdown-body .pl-mb {
	color: #c9d1d9;
}
.markdown-body .pl-md {
	color: #ffdcd7;
	background-color: #67060c;
}
.markdown-body .pl-mi1 {
	color: #aff5b4;
	background-color: #033a16;
}
.markdown-body .pl-mc {
	color: #ffdfb6;
	background-color: #5a1e02;
}
.markdown-body .pl-mi2 {
	color: #c9d1d9;
	background-color: #1158c7;
}
.markdown-body .pl-mdr {
	color: #d2a8ff;
}
.markdown-body .pl-ba {
	color: #8b949e;
}
.markdown-body .pl-sg {
	color: #484f58;
}
.markdown-body .pl-corl {
	color: #a5d6ff;
}
.markdown-body blockquote {
	color: #8b949e;
	border-left: 0.25em solid #3b434b;
}
.markdown-body h1,
.markdown-body h2 {
	border-bottom: 1px solid #21262d;
}
.markdown-body h6 {
	color: #8b949e;
}
.markdown-body table td,
.markdown-body table th {
	border: 1px solid #3b434b;
}
.markdown-body table tr {
	background-color: #0d1117;
	border-top: 1px solid #272c32;
}
.markdown-body table tr:nth-child(2n) {
	background-color: #161b22;
}
.markdown-body img {
	background-color: #0d1117;
}
.markdown-body code {
	background-color: rgba(240, 246, 252, 0.15);
}
.markdown-body .highlight pre,
.markdown-body pre {
	background-color: #161b22;
}
.markdown-body .commit-tease-sha {
	color: #b1bac4;
}
.markdown-body .blob-num {
	color: rgba(240, 246, 252, 0.3);
}
.markdown-body .blob-num:hover {
	color: rgba(240, 246, 252, 0.6);
}
.markdown-body .blob-code-inner {
	color: #c9d1d9;
}

.p-sm-1,
.p-sm-2,
.p-sm-3,
.p-sm-4,
.p-sm-5,
.p-sm-6,
.p-sm-7,
.p-sm-8,
.p-sm-9,
.p-sm-10,
.p-sm-11,
.p-sm-12,
.p-md-1,
.p-md-2,
.p-md-3,
.p-md-4,
.p-md-5,
.p-md-6,
.p-md-7,
.p-md-8,
.p-md-9,
.p-md-10,
.p-md-11,
.p-md-12,
.p-lg-1,
.p-lg-2,
.p-lg-3,
.p-lg-4,
.p-lg-5,
.p-lg-6,
.p-lg-7,
.p-lg-8,
.p-lg-9,
.p-lg-10,
.p-lg-11,
.p-lg-12,
.p-xl-1,
.p-xl-2,
.p-xl-3,
.p-xl-4,
.p-xl-5,
.p-xl-6,
.p-xl-7,
.p-xl-8,
.p-xl-9,
.p-xl-10,
.p-xl-11,
.p-xl-12 {
	padding: 0;
}

@media screen and (min-width: 992px) {
	.server-grid {
		height: 100%;
	}
}

.gallery-img-thumb {
	cursor: pointer;
}

.gallery-img {
	cursor: pointer;
}

.gallery-username{
  color: var(--text-color-secondary)
}

.user-banned{
  color: red;
}

.status-box {
  padding: .50rem;
  border: 2px solid var(--surface-g);
  width: 200px;
}

.status-online{
  background-color: green;
}

.status-offline{
  background-color: red;
}

.status-locked{
  background-color: lightblue;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 999999999px;
}

.p-inputnumber {
  display: block !important;
}

.radio-button-group{
  display: flex;
  flex-direction: column;
  p-radioButton{
    margin-top: .5rem;
  }
}

.form_element {
  margin-bottom: 1rem;
}
