<div class=" content-wrapper" style="height: 100%">
  <div class="p-grid" style="height: 100%">
    <div class="p-xl-8 p-col-12 img-wrapper">
      <img class="uploaded-img" [src]="fileDisplay" *ngIf="fileDisplay" />
      <div class="upload-btn-wrapper" *ngIf="!fileDisplay">
        <div class="upload-btn">
          <button onclick="document.getElementById('file-input').click();">
            <i class="pi pi-upload"></i>
            <p>Select File to upload</p>
          </button>
          <input
            id="file-input"
            type="file"
            multiple="multiple"
            accept="image/png,image/svg+xml,image/jpeg"
            (change)="onFileChanged($event)"
            style="display: none"
            draggable="false"
          />
        </div>
      </div>
    </div>
    <div class="p-col-12 p-xl-1">
      <p-divider styleClass="p-d-none p-d-xl-block" layout="vertical"></p-divider>
      <p-divider styleClass="p-d-xl-none" ></p-divider>
    </div>
    <div class="settings-container p-d-flex p-flex-column p-xl-3 p-col-12">
      <h2>Settings</h2>
      <form [formGroup]="formGroup">
        <dynamic-primeng-form [group]="formGroup" [model]="formModel"></dynamic-primeng-form>
      </form>
      <div class="p-mt-auto">
        <p-button
          label="Reset"
          styleClass="settings-upload-btn p-button-outlined p-mb-1"
          [disabled]="fileDisplay === null"
          (onClick)="reset()"
        ></p-button>
        <p-button label="Save" styleClass="settings-upload-btn" [disabled]="fileDisplay === null" (onClick)="submit()"></p-button>
      </div>
    </div>
  </div>
</div>

