<p-progressSpinner
	*ngIf="loading || playerId === ''"
	styleClass="custom-spinner"
	strokeWidth="8"
	animationDuration="2s"
></p-progressSpinner>

<ng-container *ngIf="player && !loading">
	<div class="profile-header p-d-flex content-wrapper">
		<div class="p-d-flex p-flex-column profile-text">
			<div class="p-d-flex profile-header-name">
				<h1>{{ player.playerName }}</h1>
			</div>
			<span>{{ player.playerUid }}</span>
			<span>First visit: {{ player.timeFirstVisit | date: 'YYYY-MM-dd H:mm:ss' }}</span>
			<span>Last visit: {{ player.timeLastVisit | date: 'YYYY-MM-dd H:mm:ss' }}</span>
			<span>Connected {{ player.numberConnections }} times</span>
		</div>
	</div>
	<div class="content-wrapper">
		<app-subnavi [subnaviItems]="subnaviItems"></app-subnavi>
		<router-outlet></router-outlet>
	</div>
</ng-container>
