<p-progressSpinner *ngIf="loading || playerId === ''" styleClass="custom-spinner" strokeWidth="8" animationDuration="2s"></p-progressSpinner>

<div *ngIf="player && !loading" class="player-profile">
	<div class="player-profile-header p-d-flex">
		<div>
			<div class="p-d-flex player-profile-header-name">
				<h1>{{ player.playerName }}</h1>
			</div>
			<span>{{ player.playerUid }}</span>
		</div>
	</div>
	<app-subnavi [subnaviItems]="subnaviItems"></app-subnavi>
	<router-outlet></router-outlet>
</div>
