<p-progressSpinner *ngIf="loading" styleClass="custom-spinner" strokeWidth="8" animationDuration="2s"></p-progressSpinner>
<ng-container *ngIf="!loading">
	<div class="profile-header p-d-flex content-wrapper">
		<div class="profile-text p-d-flex p-flex-column">
			<div class="p-d-flex">
				<h1>{{ group.name }}</h1>
				<p-tag
					[value]="group.name"
					[style]="{ 'background-color': group.backgroundColor, color: group.textColor }"
					class="p-as-center p-ml-2"
				></p-tag>
			</div>
			<span>{{ group.description }}</span>
		</div>
	</div>
	<div class="content-wrapper">
		<app-subnavi [subnaviItems]="subnaviItems"></app-subnavi>
		<router-outlet></router-outlet>
	</div>
</ng-container>
